body, html {
   margin: 0;
   padding: 0;
   font-family: "DM Serif Text", serif;  
}

#navbar {
   height: 50px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
}

#navbar_left {
   display: flex;
   align-items: center;
   color: white;
   font-family: "DM Serif Text", serif;
}

.navbar_text {
   color: white;
   text-decoration: none;
   margin-right: 70px;
   padding: 10px;
}

.navbar_text:hover {
   background-color: rgb(33, 33, 182);
   padding: 10px;
}

#active {
   text-decoration: underline;
}

#landing {
   height: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#footer {
   height: 150px;
   background-color: black;
   color: white;
}

#mapbutton {
   background-color: black;
   font-size: 20px;
   color: white;
   padding: 20px;
   cursor: pointer;
}

#mapbutton:hover {
   background-color: rgb(33, 33, 182);
}