body, html {
   margin: 0;
   padding: 0;
   font-family: "DM Serif Text", serif;  
}

#navbar {
   height: 50px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
}

#navbar_left {
   display: flex;
   align-items: center;
   color: white;
   font-family: "DM Serif Text", serif;
}

.navbar_text {
   color: white;
   text-decoration: none;
   margin-right: 70px;
   padding: 10px;
}

.navbar_text:hover {
   background-color: rgb(33, 33, 182);
   padding: 10px;
}

#active {
   text-decoration: underline;
}

#mission {
   height: 355px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 700px;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

#team {
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
}

#people {
   width: 900px;
   display: flex;
   flex-direction: row;
}

.person {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   border: 2px solid #000000;
   padding: 10px;
   width: 300px;
   margin: 20px;
}

#footer {
   height: 150px;
   background-color: black;
   color: white;
}

img {
   margin: 10px;
}